

    /* font-family: 'Fredericka the Great', cursive; HEDER FONT

    font-family: 'Open Sans', sans-serif; TEXT FONT

    font-family: 'Over the Rainbow', cursive;  HEADER FONT*/ 

/* Need to upload a smaller image for anything smaller than 400px vw */
body{
    font-family:Over the Rainbow;
    font-weight:200;
}

nav{
    width:100vw;
    height: 35vh;
    background-image: url("../media/cropped-banner.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
nav{
    width:100vw;
    height: 25vh;
    background-image: url("../media/small-banner.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}

h2{
    font-family:Fredericka the Great;
    font-weight: 100;
}

.sec{
    width: 95vw;
    padding: 15px;
    margin: 20px; 
}

.btn-space{
    margin:10px;
    padding:5px;
}

.center{
    margin-left: auto;
    margin-right:auto;
    text-align:center;
}

.search-space{
    margin:10px;
    padding:5px;
}

#t-results li{
    text-decoration:none;
    width:50%;
    padding:5px;
    margin:5px;
    height:auto;
}

#v-results li{
    text-decoration:none;
    width:50%;
    padding:5px;
    margin:5px;
    height:auto;
}

.hidden{
    display:none;
}

.result-div{
    padding:5px;
    margin:5px;
    
}

#Out-Exp{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/rest-back.png");
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    height:50vh;
    margin:0px;
    padding:0px;
    margin-top:-15px;
    color:white;
    border:3px, solid, red;
}

#Home-Exp{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/home-back.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    height:50vh;
    margin:0px;
    padding:0px;
    color:white;
}


@media only screen and (min-width: 570px){
    nav{
        width:100vw;
        height: 40vh;
        background-image: url("../media/cropped-banner.jpg");
        background-size: cover;
        background-repeat:no-repeat;
    }
    
    
    .hidden{
        display:none;
    }
    
    .flex-container-1 {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
      }

    .flex-container-2{
        padding: 0;
        margin: 0;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        flex-flow: wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #js-text-results{
        display:inline-flex;
        flex-direction:column;
    }

    #js-video-results{
        display:inline-flex;
        flex-direction:column;

    }

    .sec{
        width: 30vw;
        padding: 15px;
        margin: 10px; 
    }

    .text-results{
        max-width:45vw;
        margin:10px
    }

    .video-results{
        max-width:45vw;
        margin: 10px;
    } 

    #Out-Exp{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/rest-back.png");
        background-size: cover;
        background-repeat:no-repeat;
        width:48%;
        height:50vh;
        margin:0px;
        padding:0px;
        color:white;
        border:3px, solid, red;
        text-align: center;
    }
    
    #Home-Exp{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/home-back.jpg");
        background-size: cover;
        background-repeat:no-repeat;
        width:48%;
        height:50vh;
        margin:0px;
        padding:0px;
        color:white;
        text-align:center;
    }

}